
<nav class="navbar">
    <ul class=" mb-3 ">
        <li class="navbar-li"><a class="" href="/register">Cadastro de clientes</a></li>
        <li class="navbar-li"><a class="" href="/list">Listagem de clientes</a></li>
    </ul> 
    
</nav>









