<%- include('partials/head.ejs') %> 
<body>
  <%- include('partials/navbar.ejs') %> 

<h1>pagina inicial</h1>

<h2>seja muito bem vindo</h2>





   <%- include('partials/footer.ejs') %> 
</body>
</html>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem amet doloremque fugit, id ratione dolorem quibusdam omnis a, alias laborum nesciunt quasi ducimus qui vel. In maiores accusamus nam blanditiis.