<<<<<<< HEAD
body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin:auto;
    max-width: 800px;
    align-content: center;
    align-items: center;
}

.container h2{
    text-align: center;
    color: blueviolet;
    font-size: 23px;
    margin-top: 27px;
   font-family: Arial, Helvetica, sans-serif;
}

.container form{
    margin-left: 200px;
    border: 1px solid rgb(81, 45, 114);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 7px black;
    display: block;
    float: left;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;

}
.container form input{
    width: 300px;
    height: 30px;
    margin:  10px auto 5px 7px;
    border: none;
    display: flex;
    background-color: rgb(210, 223, 241);
}
.container label{
    color: blueviolet;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-primary{
    margin-top: 10px;
    padding: 8px;
    margin-left: 290px;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    color: white;

}

.container form input:focus{
border: none;
outline: 0;
}

#list-products h2{
    color: blueviolet;
    max-width: 800px;
    margin: 15px auto 20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


#list-products ul li{
    margin-top: 15px;
    color: blueviolet;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

strong{
    color: rgb(61, 9, 109);
    font-weight: bold;
    margin-right: 4px;
    
}

a{
    text-decoration: none;
    margin-left: 10px;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 4px;
    color: white;

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

.hidden{
    display: none;

}


#edit h2 {
color: blueviolet;
text-align: center;
font-size: 23px;
font-family: Arial, Helvetica, sans-serif;
}

#edit {
    margin-left: 20px;
    border: 1px solid rgb(81, 45, 114);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 7px black;
    float: left;
    /* display: flex; */
flex-direction: column;
justify-content: center;
align-items: center;
    margin-top: 20px;
}

#edit form input{
    width: 300px;
    height: 30px;
    margin:  10px auto 5px 7px;
    border: none;
    display: flex;
    background-color: rgb(210, 223, 241);

}

#edit label{
    color: blueviolet;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

button:hover{
    background-color: rgb(72, 5, 135);
    transition: 0.4s;

}

a:hover{
    background-color: rgb(72, 5, 135);
    transition: 0.4s;
}

#edit form input:focus{
    border: none;
    outline: 0;
    }
=======
body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin:auto;
    max-width: 800px;
    align-content: center;
    align-items: center;
}

.container h2{
    text-align: center;
    color: blueviolet;
    font-size: 23px;
    margin-top: 27px;
   font-family: Arial, Helvetica, sans-serif;
}

.container form{
    margin-left: 200px;
    border: 1px solid rgb(81, 45, 114);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 7px black;
    display: block;
    float: left;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;

}
.container form input{
    width: 300px;
    height: 30px;
    margin:  10px auto 5px 7px;
    border: none;
    display: flex;
    background-color: rgb(210, 223, 241);
}
.container label{
    color: blueviolet;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-primary{
    margin-top: 10px;
    padding: 8px;
    margin-left: 290px;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    color: white;

}

.container form input:focus{
border: none;
outline: 0;
}

#list-products h2{
    color: blueviolet;
    max-width: 800px;
    margin: 15px auto 20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


#list-products ul li{
    margin-top: 15px;
    color: blueviolet;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

strong{
    color: rgb(61, 9, 109);
    font-weight: bold;
    margin-right: 4px;
    
}

a{
    text-decoration: none;
    margin-left: 10px;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 4px;
    color: white;

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

.hidden{
    display: none;

}


#edit h2 {
color: blueviolet;
text-align: center;
font-size: 23px;
font-family: Arial, Helvetica, sans-serif;
}

#edit {
    margin-left: 20px;
    border: 1px solid rgb(81, 45, 114);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 7px black;
    float: left;
    /* display: flex; */
flex-direction: column;
justify-content: center;
align-items: center;
    margin-top: 20px;
}

#edit form input{
    width: 300px;
    height: 30px;
    margin:  10px auto 5px 7px;
    border: none;
    display: flex;
    background-color: rgb(210, 223, 241);

}

#edit label{
    color: blueviolet;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

button:hover{
    background-color: rgb(72, 5, 135);
    transition: 0.4s;

}

a:hover{
    background-color: rgb(72, 5, 135);
    transition: 0.4s;
}

#edit form input:focus{
    border: none;
    outline: 0;
    }
>>>>>>> 52c74222d165307c7da0a6a519a61129c961e881
    