.counter{
    background-color: black;
    width: 300px;
    margin:  0 auto;
    color: white;
    text-align: center;
    padding: 50px;
}

.counter span{
    display: block;
    font-size: 2em;
}

.counter button{
    padding: 20px;
    font-size: 2em;
}