.counter{
    width: 300px;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;

}

.counter span{
    display: block;
    font-size: 3em;
    margin: auto;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 116px;
    border-radius: 5px;
}

.counter button{
    padding:  20px;
    font-size: 2em;
    border-radius: 5px;
}